@use "./header/header.scss";

* {
	box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
figure,
p,
ol,
ul {
    list-style-type: none;
    margin: 0;
	padding: 0;

}
a{
    text-decoration: none;
}
0l[role="list"],
ul[role="list"] {
	list-style: none;
	padding-inline: 0;
}

h1,
h2,
h3,
h4,
h5 {

	font-size: inherit;
	font-weight: inherit;
}

img {
	display: block;
	max-inline-size: 100%;
}

html {
	font-family: "Lato", sans-serif
	scroll-behavior: smooth;
}
body {
	margin: 0;
	padding: 0;
}


.container {
	width: 100%;
	padding: 30px 351px;
	position: relative;
}





