@use "./header/header.scss";
@use "./head1/head1.scss";

* {
	box-sizing: border-box;
	@font-face {
  font-family: "Lato";
  src: url("../../fonts/Lato-Regular.ttf") format("woff2");
  }

}

h1,
h2,
h3,
h4,
h5,
figure,
p,
ol,
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

ol[role="list"],
ul[role="list"] {
	list-style: none;
	padding-inline: 0;
}

h1,
h2,
h3,
h4,
h5 {

	font-size: inherit;
	font-weight: inherit;
}

img {
	display: block;
	max-inline-size: 100%;
}

html {

	scroll-behavior: smooth;
}

body {
	margin: 0;
	padding: 0;
}

.container {
	width: 100%;
	padding: 30px 351px;
	position: relative;
}

@font-face {
	font-family: 'MyCustomFont';
	src: url('/fonts/Lato-Regular.ttf') format('ttf'),
		url('/fonts/Lato-Regular.ttf') format('ttf'), ;
	font-weight: normal;
	font-style: normal;
}
