@use "../basic/variables" as *;

.svg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
    font-size: 16px;
}

.footer {
    height: 545px;
    background-color: $dark;

    &__policy2 {
        display: none;
    }

    &__wrapper {
        display: flex;
        gap: 160px;
        margin-top: 150px;
    }

    &__left {
        display: flex;
        flex-direction: column;
        gap: 30px;

        &-icons {
            display: flex;
            gap: 15px;
        }

        &-header {
            display: block;
            width: 260px;
            height: 47px;
            font-weight: 900;
            font-style: Black;
            font-size: 36px;
            line-height: 130%;

            text-transform: uppercase;
            color: $light;

        }
    }

    &__policy {
        font-weight: 400;
        font-size: 17px;
        line-height: 130%;
        color: $light;

        &-text {
            color: #6b6a6a;
        }
    }

    &__list {
        &-container {
            display: flex;
            gap: 160px;
        }
    }


    &__info,
    &__customer,
    &__useful {
        display: flex;
        flex-direction: column;
        width: 104px;
        gap: 15px;

        &-header {
            font-weight: 700;
            font-size: 24px;
            line-height: 140%;
            color: $light;

        }

        &-item,
        &-customer,
        &-useful {
            font-weight: 400;
            font-size: 17px;
            line-height: 130%;
            cursor: pointer;
            color: $light;

            &:hover {
                text-decoration: underline;
            }
        }
    }

}

@media screen and (max-width: 1500px) {
    .footer {
        &__wrapper {
            gap: 50px;
            justify-content: center;
        }

        &__list {
            &-container {
                gap: 50px;
                justify-content: center;
            }
        }

        &__left {
            &-header {
                font-size: 30px;
            }
        }

        &__useful {
            &-header {
                width: 185px;
            }
        }
    }

}

@media screen and (max-width: 1000px) {
    .footer {
        &__policy2 {
            display: flex;
            flex-direction: row;
            justify-content: center;
        }

        &__policy {
            &-text {
                margin-left: 30px;
            }
        }


        &__policy1 {
            display: none;
        }

        &__wrapper {
            flex-direction: column;
            margin-top: 90px;
        }

        &__list {
            &-container {
                gap: 40px;
            }
        }

        &__left {
            flex-direction: row;
            justify-content: center;

            &-header {
                width: 200px;
            }
        }
    }

}

@media screen and (max-width: 1000px) {
    .footer {
        height: 100%;
        &__list {
            &-container {
                flex-direction: column;
            }
        }
    }
}