.last {
    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        flex-wrap: wrap;
        gap: 20px;
    }

    &__view {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 350px;
        height: 350px;
        border-radius: 50%;
        overflow: hidden;
        background-color: rgba(247, 237, 228, 1);

        &-img {
            width: 240px;
        }
    }
}

@media screen and (min-width: 480px) {
    .last {
        &__view {
            width: 210px;
            height: 210px;


            &-img {
                width: 130px;
                height: 122px;
            }
        }
    }

}

@media screen and (min-width: 700px) {
    .last {
        &__view {
            width: 300px;
            height: 300px;

            &-img {
                width: 200px;
                height: 200px;
            }
        }
    }
}
@media screen and (min-width: 978px) {
.last {
        &__view {
            width: 200px;
            height: 200px;

            &-img {
                width: 135px;
                height: 135px;      
            }
        }
    }
}