@use "../basic/variables.scss" as *;

.header {
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__nav {
        &-link {

            color: $dark;
        }

        ul {
            display: flex;
            justify-content: space-evenly;
            width: 313;
            height: 27;
            gap: 50px;

            li {
                a {
                    font-weight: 400;
                    font-size: 21px;
                    line-height: 130%;


                }
            }
        }
    }

    &__cart {
        width: 120px;
        height: 27px;
        &-icon {
            display: flex;
            width: 20px;
            height: 20px;
            margin-right: 10px;
        }

        &-link {
            display: flex;
            justify-content: space-evenly;
        }
        &-link2 {
            justify-content: space-evenly;
        }
    }
    &__cart2{
        display: none;
    }

    &__logo {
        &-text {
            font-weight: 900;
            font-size: 32px;
            line-height: 130%;
            text-align: center;
            text-transform: uppercase;
            transform: translateX(-35px);
        }
        &-text1{
            display: none;
        }
    }
}